<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.0.xsd
http://www.springframework.org/schema/util
http://www.springframework.org/schema/util/spring-util.xsd
">

	<context:component-scan base-package="raymond" />

	<bean id="clientConfiguration" class="com.amazonaws.ClientConfiguration">
		<property name="proxyDomain" value="proxyDomain" />
		<property name="proxyHost" value="proxyHost" />
		<property name="proxyPassword" value="proxyPassword" />
		<property name="proxyPort" value="proxyPort" />
		<property name="proxyUsername" value="proxyUsername" />
	</bean>

	<bean abstract="true" id="bucketCredentialsParent"
		class="raymond.mockftpserver.BucketFileCredentials">
		<property name="charset" value="UTF8" />
		<property name="keyBase" value="0x01z8*oneplusonequalstwo89xdrftyy" />
		<property name="chave" value="chave" />
	</bean>

	<bean id="s3CachedFileSystem" class="raymond.mockftpserver.CachedFileSystem">
		<property name="bucketFileSystem">
			<bean class="raymond.mockftpserver.S3BucketFileSystem">
				<!-- <property name="clientConfiguration" ref="clientConfiguration" /> -->
				<!-- <property name="endpoint">s3-sa-east-1.amazonaws.com</property> -->
				<property name="region">
					<bean class="com.amazonaws.regions.Region" factory-method="getRegion">
						<constructor-arg type="com.amazonaws.regions.Regions">
							<util:constant static-field="com.amazonaws.regions.Regions.SA_EAST_1" />
						</constructor-arg>
					</bean>
				</property>
				<property name="bucket" value="disk-aaa" />
			</bean>
		</property>
	</bean>

	<bean id="gcsStorageCachedFileSystem" class="raymond.mockftpserver.CachedFileSystem">
		<property name="bucketFileSystem">
			<bean id="gcsStorageCachedFileSystem" class="raymond.mockftpserver.GCSStorageBucketFileSystem">
				<!-- <property name="clientConfiguration" ref="clientConfiguration" /> -->
				<property name="endpoint" value="storage.googleapis.com" />
				<property name="bucket" value="disk-aaa" />
			</bean>
		</property>
	</bean>

	<bean id="s3FtpServer" class="raymond.mockftpserver.BuckedCachedFtpServer">
		<property name="fileSystem" ref="s3CachedFileSystem" />
		<property name="serverControlPort" value="21" />
		<property name="credentials">
			<bean parent="bucketCredentialsParent">
				<property name="credencialsFilePath" value="credencialsAWS" />
				<property name="accessKey" value="accessKeyAWS" />
				<property name="secretKey" value="secretKeyAWS" />
			</bean>
		</property>
	</bean>

	<bean id="gcsStorageFtpServer" class="raymond.mockftpserver.BuckedCachedFtpServer">
		<property name="fileSystem" ref="gcsStorageCachedFileSystem" />
		<property name="serverControlPort" value="22" />
		<property name="credentials">
			<bean parent="bucketCredentialsParent">
				<property name="credencialsFilePath" value="credencialsGCS" />
				<property name="accessKey" value="accessKeyGCS" />
				<property name="secretKey" value="secretKeyGCS" />
			</bean>
		</property>
	</bean>

	<!-- <bean id="messageSource" -->
	<!-- class="org.springframework.context.support.ReloadableResourceBundleMessageSource"> -->
	<!-- <property name="basename" value="classpath:messages/messages" /> -->
	<!-- <property name="fallbackToSystemLocale" value="false" /> -->
	<!-- </bean> -->

</beans>